.container {
  padding: 20px;
  text-align: center;
}

.container h1 {
  color: #ff5858;
  font-family: Arial, sans-serif;
  font-size: 3vw; /* Responsive font size */
  padding: 10px 20px;
  background-color: black;
  color: white;
  border-radius: 10px;
  margin-bottom: 20px; /* Space between heading and buttons */
}

.button-group {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button-group .predict-button {
  margin: 10px 0;
  padding: 10px 20px;
  font-size: 1.5vw; /* Responsive font size */
  font-weight: bold; /* Make button text bold */
  cursor: pointer;
  background-color: #ff5858; /* Red background */
  color: white; /* White text */
  border: 2px solid black; /* Black border around the button */
  border-radius: 5px; /* Rounded corners */
  transition: background-color 0.3s ease, border-color 0.3s ease;
}

.button-group .predict-button:hover {
  background-color: #45a049; /* Darker green on hover */
  border-color: #397d3b; /* Darker border color on hover */
}

.button-group .predict-button:active {
  background-color: #397d3b; /* Even darker green on click */
  border-color: #2d2d2d; /* Darker border color on click */
}

/* Media Queries for Responsiveness */
@media (max-width: 768px) {
  .container h1 {
    font-size: 4vw; /* Larger font size for smaller screens */
  }

  .button-group .predict-button {
    font-size: 2vw; /* Larger font size for smaller screens */
    padding: 12px 24px; /* Adjust padding for touch screens */
  }
}

@media (max-width: 480px) {
  .container h1 {
    font-size: 5vw; /* Adjust font size for very small screens */
    padding: 5px 10px; /* Adjust padding for smaller screens */
  }

  .button-group .predict-button {
    font-size: 3vw; /* Larger font size for very small screens */
    padding: 15px 30px; /* Increase padding for better touch targets */
    margin: 8px 0; /* Adjust margin for very small screens */
  }
}
